# Environment files
/scripts/.env.local

# Local scraper overrides
/scripts/scraper_local.js

# Service account credentials

/scripts/serviceAccount.json

tests/node_modules/
tests/.env
tests/serviceAccount.json

serviceAccount.json
*.json

node_modules/
